exports.driver = "redis";
exports.params = {};
exports.username = "somename";
exports.password = "somepassword";
exports.sessionSecret = "use something better";
exports.site = "My Site Name";
exports.useDigrams = true;
exports.usePrefixes = true;
exports.useBare = true;
exports.useArrayLength = true;
exports.serverUser = "spaminfo"; // must exist!
exports.port = 80;
exports.httpsPort = 443;
exports.key = "/path/to/server.key";
exports.cert = "/path/to/server.crt";
